@import url('https://fonts.googleapis.com/css2?family=Caladea:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Caladea', serif;
}

html, body {
  height: 100%;
}

input[type=text] {
  border: 1px solid #007246;
}