@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html, body {
  height: 100%;
}

/*Estilo para o plugin slick*/
.slick-dotted ul {
  list-style-type: none;
  text-align: center;
  position: relative;
  margin-top: 50px;
}

.slick-dotted li {
  display: inline-block;
  margin: 0 7px;
}

.slick-dotted button:focus {
  outline: 0;
}

.slick-dotted li button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  color: #D8D8D8;
  background-color: #D8D8D8;
  border: none;
  cursor: pointer;
}

.slick-dotted li.slick-active button {
  color: #688293;
  background-color: #688293;
}

.slick-slide:focus {
  outline: none;
}
/*Estilo para o plugin slick*/

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.clear {
  clear: both;
}

/*Header do site*/

header {
  padding: 20px 2%;
}

header .logo img {
  float: left;
  width: 240px;
}

header nav.menu-mobile {
  display: none;
  float: right;
  width: 28px;
  height: 28px;
  background-image: url('../_images/menu-mobile.png');
  background-size: 100% 100%;
  cursor: pointer;
  margin-top: 7px;
}

header nav.menu-mobile ul {
  display: none;
  background-color: #FFFFFF;
  position: absolute;
  left: 0;
  top: 60px;
  text-align: center;
  width: 100%;
  z-index: 999;
  list-style-type: none;
}

header nav.menu-mobile ul li {
  text-transform: uppercase;
}

header nav.menu-mobile ul li {
  padding: 10px;
}

header nav.menu-descktop {
  float: right;
}

header nav.menu-descktop ul {
  list-style-type: none;
}

header nav.menu-descktop ul li {
  float: left;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0 20px;
}

header nav ul li a {
  text-decoration: none;
  color: #B4B4B4;
}

/*Mosaico*/

.mosaico-single {
  float: left;
  width: calc(100% / 6);
}

.img-mosaico-single {
  width: 100%;
  padding-top: 100%;
  background-color: #CFCFCF;
  border: 5px solid #FFFFFF;
}

section.servicos > .container {
  max-width: 800px;
  display: flex;
  text-align: center;
  align-items: center;
  position: relative;
  top: -30px;
}

section.servicos > .container > .box-servico {
  background-image: url('../_images/icone_dente.png');
  background-size: 18px 18px;
  background-position: center 96%;
  background-repeat: no-repeat;
}

section.servicos > .container > .box-servico h2 {
  color: #FFFFFF;
  font-size: 15px;
  font-weight: normal;
  text-transform: uppercase;
}

section.servicos > .container > .box-servico p {
  color: #FFFFFF;
  font-size: 12px;
  font-weight: normal;
  margin-top: 8px;
}

section.servicos > .container > .box-servico:nth-of-type(1) {
  width: 30%;
  padding: 50px 2%;
  background-color: #576975;
}

section.servicos > .container > .box-servico:nth-of-type(2) {
  width: 40%;
  padding: 80px 2%;
  background-color: #688293;
  background-image: none;
}

section.servicos > .container > .box-servico:nth-of-type(3) {
  width: 30%;
  padding: 50px 2%;
  background-color: #576975;
}

section.perfil-container {
  padding: 40px 2%;
  overflow: hidden;
}

section.perfil-container .container {
  max-width: 1000px;
}

section.perfil-container .perfil-wraper {
  padding-top: 50%;
  position: relative;
}

section.perfil-container .perfil-wraper2 {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  width: 100%;
  height: 100%;
}

section.perfil-container .img-perfil {
  width: 40%;
  height: 100%;
  background-image: url('../_images/img_perfil.png');
  background-size: 100% 100%;
}

section.perfil-container .texto-perfil {
  width: 60%;
  padding: 20px 30px;
}

section.perfil-container .texto-perfil h2 {
  font-size: 18px;
  color: #698293;
}

section.perfil-container .texto-perfil p {
  font-size: 15px;
  color: #BEBEBE;
  margin-top: 8px;
  line-height: 22px;
  text-align: justify;
}

section.videos {
  padding: 50px;
}

section.videos .box-video {
  position: relative;
  border: 5px solid #FFFFFF;
  float: left;
  width: 33.3%;
  padding-top: calc(33.3% * 0.6);
}

section.videos iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

section.tratamentos {
  padding: 70px 0;
}

section.tratamentos > h2 {
  font-size: 22px;
  color: #698293;
  text-align: center;
}

section.tratamentos > .container {
  padding: 40px 0;
  padding-bottom: 0;
}

section.tratamentos .tratamento-container {
  float: left;
  width: 33.3%;
}

section.tratamentos .tratamento-single {
  padding: 20px;
}

section.tratamentos .tratamento-single h2 {
  font-size: 18px;
  color: #737373;
}

section.tratamentos .tratamento-single p {
  padding: 10px 0;
  font-size: 13px;
  color: #B4B4B4;
}

section.depoimentos > h2 {
  font-size: 22px;
  color: #698293;
  text-align: center;
}

section.depoimentos > .container {
  padding: 40px 0;
  max-width: 400px;
}

section.depoimentos .depoimento-single {
  text-align: center;
}

section.depoimentos .depoimento-single quote {
  font-size: 15px;
  color: #B4B4B4;
}

section.depoimentos .depoimento-single .nome-depoimento {
  padding: 19px 0;
}

section.depoimentos .depoimento-single .nome-depoimento img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: inline-block;
}

section.depoimentos .depoimento-single .nome-depoimento span {
  font-size: 13px;
  color: #B4B4B4;
  display: inline-block;
  vertical-align: top;
  line-height: 32px;
  padding-left: 10px;
}

section.social .instagram-chamada {
  float: left;
  width: 100%;
  text-align: center;
  padding: 40px 0;
  background-color: #98A5AE;
}

section.social .instagram-chamada p {
  color: #FFFFFF;
  font-size: 13px;
  padding: 10px 0;
  line-height: 23px;
}

.mosaico-social {
  float: left;
  width: 100%;
}

.img-mosaico-single-social {
  float: left;
  width: calc(100% / 9);
  padding-top: calc(100% / 9);
  background-color: #B4B4B4;
  border: 6px solid white;
}

section.social .fb-chamada {
  float: left;
  width: 100%;
  text-align: center;
  padding: 40px 0;
  background-color: #576975;
}

section.social .fb-chamada p {
  color: #FFFFFF;
  font-size: 13px;
  padding: 10px 0;
  line-height: 23px;
}

section.contato {
  padding: 60px 2%;
}

section.contato h2 {
  font-size: 22px;
  color: #698293;
  text-align: center;
}

section.contato form {
  width: 100%;
  margin: 30px auto;
  max-width: 500px;
}


section.contato form .form-wraper {
  float: left;
  margin-top: 10px;
  padding: 0 10px;
}

.w100 {
  width: 100%;
}

.w50 {
  width: 50%;
}

section.contato form .form-wraper label {
  font-size: 15px;
  color: #B4B4B4;
}

section.contato form .form-wraper input[type=text],
section.contato form .form-wraper input[type=tel],
section.contato form .form-wraper input[type=email] {
  width: 100%;
  height: 35px;
  line-height: 35px;
  padding-left: 10px;
  border: 1px solid #DADADA;
  margin-top: 10px;
}

section.contato form .form-wraper textarea {
  width: 100%;
  height: 121px;
  padding: 9px;
  resize: none;
  margin-top: 10px;
  border: 1px solid #DADADA;
}

section.contato form .form-wraper input[type=submit] {
  display: inline-block;
  width: 100px;
  height: 35px;
  border: 0;
  background-color: #688293;
  font-weight: bold;
  color: #FFFFFF;
  cursor: pointer;
}

footer {
  padding: 40px 2%;
  background-color: #688293;
}

footer > .container {
  max-width: 1000px;
}

footer div.footer-block {
  float: left;
  width: 33.3%;
}

footer div.footer-block h2 {
  color: #FFFFFF;
  font-weight: normal;
  font-size: 18px;
}

footer div.footer-block p {
  color: #FFFFFF;
  font-size: 14px;
  margin-top: 10px;
}

@media screen and (max-width: 1000px) {
  .img-mosaico-single-social {
    width: calc(100% / 6);
    padding-top: calc(100% / 6);
  }

  .mosaico-social > div:nth-of-type(1n+7) {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  header nav.menu-descktop {
    display: none;
  }

  header nav.menu-mobile {
    display: block;
  }

  section.servicos > .container {
    flex-direction: column;
  }

  section.servicos > .container > .box-servico:nth-of-type(1) {
    width: 90%;
    max-width: 350px;
    padding: 30px 2%;
  }
  
  section.servicos > .container > .box-servico:nth-of-type(2) {
    width: 94%;
    max-width: 380px;
    padding: 40px 2%;
  }
  
  section.servicos > .container > .box-servico:nth-of-type(3) {
    width: 90%;
    max-width: 350px;
    padding: 30px 2%;
  }

  section.perfil-container .perfil-wraper {
    padding-top: 0;
  }

  section.perfil-container .perfil-wraper2 {
    height: auto;
    position: static;
    display: inline-block;
    text-align: center;
  }

  section.perfil-container .img-perfil {
    display: inline-block;
    width: 50%;
    padding-top: 60%;
    height: auto;
  }

  section.perfil-container .texto-perfil {
    display: inline-block;
    width: 100%;
    padding: 0 30px;
    text-align: justify;
  }

  section.videos .box-video {
    width: 100%;
    padding-top: calc(100% * 0.6);
  }

  section.tratamentos .tratamento-single {
    text-align: center;
  }

  .img-mosaico-single-social {
    width: calc(100% / 3);
    padding-top: calc(100% / 3);
  }

  .mosaico-social > div:nth-of-type(1n+4) {
    display: none;
  }

  footer {
    text-align: center;
  }

  footer div.footer-block {
    float: none;
    width: 100%;
    margin: 30px 0;
  }
}

@media screen and (max-width: 580px) {
  section.perfil-container .img-perfil {
    width: 80%;
    padding-top: 100%;
  }

  section.videos {
    padding: 0;
  }

  .w50 {
    width: 100%;
  }
}