@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Prociono&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Prociono', serif;
}

html, body {
  height: 100%;
}

.parent {
  width: 50%;
  height: 400px;
  background-color: orangered;
}

.box {
  width: 50%;
  margin-left: 50%;
  padding-top: 25%;
  background-color: gray;
}