@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Prociono&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Prociono', serif;
}

html, body {
  height: 100%;
}

.sidebar {
  width: 300px;
  height: calc(100vh / 3);
  float: left;
  background-color: lawngreen;
}

.content {
  width: calc(100% - 300px);
  height: calc(100vh / 3);
  float: left;
  background-color: green;
}

.box1 {
  width: calc(100% / 3);
  height: calc(100vh / 3);
  background-color: hotpink;
  clear: both;
}

.box2 {
  width: 100vw;
  height: calc(100vh / 3);
  background-color: orange;
}