* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

html, body {
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.clear {
  clear: both;
}

header {
  padding: 25px 2%;
  height: 120px;
}

header div.logo {
  float: left;
}

header div.logo img {
  height: 70px;
}

header nav.desktop {
  float: right;
}

header nav.desktop ul {
  list-style-type: none;
}

header nav.desktop ul li {
  float: left;
  font-size: 23px;
  padding-left: 60px;
  line-height: 70px;
  font-style: italic;
}

header nav.desktop ul li a {
  color: #000000;
  text-decoration: none;
}

header nav.mobile {
  display: none;
  float: right;
  width: 32px;
  height: 32px;
  background-size: 100% 100%;
  cursor: pointer;
  background-image: url('../_images/icon_menu.png');
  margin-top: 19px;
}

header nav.mobile ul {
  width: 100%;
  position: absolute;
  top: 120px;
  left: 0;
  text-align: center;
  background-color: #FFFFFF;
  z-index: 999;
  list-style-type: none;
  border-bottom: 3px solid #EB2D2D;
  display: none;
}

header nav.mobile ul li {
  font-size: 23px;
  padding: 20px 0px;
  font-style: italic;
}

header nav.mobile ul li a {
  color: #000000;
  text-decoration: none;
}

section.banner {
  width: 100%;
  height: calc(100vh - 120px);
  background-color: #000000;
  background-image: url('../_images/bg.jpg');
  background-size: 60%;
  background-position: right bottom;
  background-repeat: no-repeat;
}

.text-banner {
  padding: 100px;
}

.text-banner-single {
  padding-left: 20px;
  margin-top: 15px;
  font-size: 23px;
  font-style: italic;
  color: #FFFFFF;
  text-transform: uppercase;
}

.text-banner .text-banner-single:nth-of-type(1) {
  width: 300px;
  height: 60px;
  line-height: 60px;
  background-image: url('../_images/box-red1.png');
  background-size: 100% 100%;
}

.text-banner .text-banner-single:nth-of-type(2) {
  width: 200px;
  height: 60px;
  line-height: 60px;
  background-image: url('../_images/box-red2.png');
  background-size: 100% 100%;
  position: relative;
  left: -11px;
}

.text-banner .text-banner-single:nth-of-type(3) {
  width: 150px;
  height: 60px;
  line-height: 60px;
  background-image: url('../_images/box-red3.png');
  background-size: 100% 100%;
  position: relative;
  left: -22px;
}

.text-banner .text-banner-single:nth-of-type(4) {
  color: #000000;
  width: 350px;
  height: 60px;
  font-size: 19px;
  line-height: 60px;
  background-image: url('../_images/box-white.png');
  background-size: 100% 100%;
  position: relative;
  left: -33px;
}

section.veiculos-destaque {
  padding: 90px 2%;
}

.line-titulo {
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.line {
  width: 100%;
  position: absolute;
  top: 20px;
  height: 2px;
  background-color: #000000;
}

.line-titulo > h2 {
  position: relative;
  padding: 0 20px;
  background-color: #FFFFFF;
  font-size: 27px;
  font-style: italic;
  text-transform: uppercase;
  display: inline-block;
}

section.veiculos-destaque .container {
  max-width: 1400px;
  padding-top: 40px;
}

div.galeria-destaque {
  float: left;
  width: 33.3%;
  border: 10px solid #FFFFFF;
}

div.galeria-destaque div.carro-img {
  width: 100%;
  padding-top: 75%;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
}

div.galeria-destaque div.carro-info h2 {
  font-style: italic;
  font-size: 20px;
}

div.galeria-destaque div.carro-info p {
  color: #353535;
  font-size: 15px;
  font-style: italic;
  padding-top: 10px;
}

div.galeria-destaque div.carro-info a {
  margin-top: 10px;
}

.bsm {
  display: block;
  width: 153px;
  line-height: 40px;
  background-color: #EB2D2D;
  font-size: 15px;
  font-style: italic;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  border: none;
  border-bottom: 4px solid #B21E1E;
  cursor: pointer;
}

section.servicos-depoimentos {
  display: flex;
}

section.servicos-depoimentos div.servicos {
  width: 50%;
  padding: 90px 2%;
  color: #FFFFFF;
  background-color: #242424;
}

section.servicos-depoimentos div.servicos div.servicos-wraper {
  float: right;
  width: 100%;
  max-width: calc(700px - 4%);
}

section.servicos-depoimentos div.servicos div.servicos-wraper h2 {
  font-weight: normal;
  font-style: italic;
  font-size: 32px;
}

section.servicos-depoimentos div.servicos div.servicos-wraper ul {
  list-style-position: inside;
  margin-top: 20px;
  display: inline-block;
  margin-left: 2%;
  text-align: left;
}

section.servicos-depoimentos div.servicos div.servicos-wraper ul li {
  font-size: 20px;
  font-style: italic;
}

section.servicos-depoimentos div.servicos div.servicos-wraper a {
  display: inline-block;
  vertical-align: bottom;
  margin-left: 15%;
  margin-top: 20px;
}

section.servicos-depoimentos div.depoimentos {
  width: 50%;
  padding: 90px 2%;
  color: #FFFFFF;
  background-color: #EB2D2D;
}

section.servicos-depoimentos div.depoimentos div.depoimentos-wraper {
  float: left;
  width: 100%;
  max-width: calc(700px - 4%);
}

section.servicos-depoimentos div.depoimentos div.depoimentos-wraper h2 {
  font-weight: normal;
  font-style: italic;
  font-size: 32px;
}

section.servicos-depoimentos div.depoimentos div.depoimentos-wraper p {
  margin-top: 20px;
  font-size: 20px;
  font-weight: normal;
  font-style: italic;
}

section.servicos-depoimentos div.depoimentos div.depoimentos-wraper div.nav {
  margin-top: 30px;
  float: left;
  width: 100%;
}

section.servicos-depoimentos div.depoimentos div.depoimentos-wraper div.nav img {
  float: left;
  margin: 0 20px;
  cursor: pointer;
  height: 25px;
}

section.servicos-depoimentos div.depoimentos div.depoimentos-wraper div.nav div.nome-depoimento {
  float: right;
  color: #252525;
  font-size: 20px;
  margin: 0 20px;
  line-height: 25px;
}

section.contato {
  padding: 90px 2%;
}

section.contato form {
  max-width: 600px;
  margin: 40px auto;
}

section.contato form div.input-wraper {
  float: left;
  padding: 10px;
}

section.contato form div.input-wraper:nth-of-type(5) {
  text-align: center;
}

section.contato form div.input-wraper input[type=text] {
  width: 100%;
  border: 1px solid #CCCCCC;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
}

section.contato form div.input-wraper textarea {
  width: 100%;
  border: 1px solid #CCCCCC;
  height: 120px;
  padding: 10px;
  resize: none;
}

section.contato form div.input-wraper input[type=submit] {
  display: inline-block;
}

section.contato form .w100 {
  width: 100%;
}

section.contato form .w50 {
  width: 50%;
}

footer {
  padding: 40px 2%;
  background-color: #252525;
}

footer nav {
    float: left;
}

footer nav ul {
  list-style-type: none;
}

footer nav ul li {
  float: left;
  font-size: 19px;
  font-style: italic;
  padding-right: 60px;
}

footer nav ul li a {
  text-decoration: none;
  color: #FFFFFF;
}

footer p {
  float: right;
  color: #FFFFFF;
  font-size: 19px;
  font-style: italic;
}

section.venda {
  padding: 90px 2%;
  min-height: 90%;
}

section.venda .content-venda {
  margin-top: 40px;
}

section.venda .sidebar {
  float: left;
  width: 20%;
  padding-right: 10px;
}

section.venda .sidebar .search1 h2 {
  font-size: 24px;
  color: #000000;
  font-weight: 400;
  font-style: italic;
}

section.venda .sidebar .search1 .barra-preco {
  width: 100%;
  height: 20px;
  background-color: #EEEEEE;
  border: 1px solid #999999;
  border-radius: 20px;
  margin-top: 20px;
  position: relative;
  box-shadow: inset 0px 0px 5px #CCCCCC;
}

section.venda .sidebar .search1 .barra-preco-fill {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 18px;
  border-radius: 20px;
  background-color: #DDDDDD;
  box-shadow: inset 0px 0px 5px #BBBBBB;
}

section.venda .sidebar .search1 .pointer-barra {
  position: absolute;
  left: -10px;
  top: -6px;
  width: 20px;
  height: 30px;
  border: 1px solid #999999;
  border-radius: 5px;
  background-color: #DDDDDD;
  box-shadow: inset 0px 0px 5px #BBBBBB;
  cursor: pointer;
}

section.venda .sidebar .search1 .valor {
  margin-top: 10px;
}

section.venda .sidebar .search1 .valor p {
  color: #000000;
  font-size: 15px;
  font-style: italic;
}

section.venda .sidebar .search1 .valor p:nth-of-type(1) {
  float: left;
}

section.venda .sidebar .search1 .valor p:nth-of-type(2) {
  float: right;
}

section.venda .sidebar .search2 {
  margin-top: 40px;
}

section.venda .sidebar .search2 h2 {
  font-size: 24px;
  color: #000000;
  font-weight: 400;
  font-style: italic;
}

section.venda .sidebar .search2 .venda-wraper {
  margin-top: 10px;
  font-size: 15px;
  color: #000000;
  font-weight: 400;
  font-style: italic;
}

.vitrine-venda {
  float: left;
  width: 80%;
}

section.sobre {
  min-height: 90%;
  padding: 60px 2%;
}

section.sobre .container {
  max-width: 840px;
  margin-top: 30px;
}

section.sobre .container .img-sobre {
  width: 100%;
  padding-top: 60%;
  background-color: #CECECE;
}

section.sobre .container .sobre-negocio {
  margin-top: 40px;
}

section.sobre .container .sobre-negocio h2 {
  font-style: italic;
  font-size: 24px;
  font-weight: normal;
}

section.sobre .container .sobre-negocio p {
  font-style: italic;
  font-size: 16px;
  margin-top: 10px;
  text-align: justify;
}

section.sobre .container .sobre-autor {
  margin-top: 40px;
}

section.sobre .container .sobre-autor .img-autor {
  width: 30%;
  padding-top: 30%;
  background-color: #CECECE;
  float: left;
}

section.sobre .container .sobre-autor .descricao-autor p {
  width: 70%;
  font-style: italic;
  font-size: 16px;
  margin-top: 10px;
  float: left;
  text-align: justify;
  padding-left: 30px;
}

@media screen and (max-width: 1400px) {
  section.banner {
    background-size: 90% auto;
    background-position: 200% 100%;
  }
}

@media screen and (max-width: 1020px) {
  section.banner {
    background-size: cover;
    background-position: center;
    height: 70vh;
    min-height: 500px;
  }

  section.venda .sidebar {
    width: 30%;
  }

  .vitrine-venda {
    width: 70%;
  }

  .vitrine-venda div.galeria-destaque {
    width: 50%;
  }
}

@media screen and (max-width: 720px) {
  header nav.desktop {
    display: none;
  }
  header nav.mobile {
    display: block;
  }

  section.veiculos-destaque .container {
    text-align: center;
  }

  div.galeria-destaque {
    float: none;
    display: inline-block;
    width: 70%;
  }

  div.galeria-destaque div.carro-info a {
    display: inline-block;
  }

  section.servicos-depoimentos div.servicos div.servicos-wraper a {
    margin-left: 0;
  }

  section.servicos-depoimentos {
    flex-direction: column;
    text-align: center;
  }

  section.servicos-depoimentos div.servicos {
    width: 100%;
  }

  section.servicos-depoimentos div.depoimentos {
    width: 100%;
  }

  section.servicos-depoimentos div.depoimentos div.depoimentos-wraper p {
    text-align: justify;
  }

  section.contato form .w50 {
    width: 100%;
  }

  footer {
    text-align: center;
  }

  footer nav {
    display: none;
  }

  footer p {
    float: none;
  }

  section.venda .sidebar {
    width: 40%;
  }

  .vitrine-venda {
    width: 60%;
    text-align: center;
  }

  .vitrine-venda div.galeria-destaque {
    width: 90%;
  }

}

@media screen and (max-width: 580px) {
  .text-banner {
    padding: 35px;
  }

  .text-banner-single {
    font-size: 18px;
  }

  div.galeria-destaque {
    width: 90%;
  }

  div.galeria-destaque div.carro-info a {
    display: inline-block;
  }

  section.venda .sidebar {
    float: none;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .vitrine-venda {
    width: 100%;
  }

  section.sobre .container .sobre-autor {
    text-align: center;
  }

  section.sobre .container .sobre-autor .img-autor {
    width: 80%;
    padding-top: 80%;
    background-color: #CECECE;
    float: none;
    display: inline-block;
  }

  section.sobre .container .sobre-autor .descricao-autor p {
    width: 100%;
    text-align: justify;
    float: none;
    display: inline-block;
    padding-left: 0;
  }
}