@import url('https://fonts.googleapis.com/css?family=Saira&display=swap');

body {
	background-color: black;
	font-family: 'Saira', sans-serif;
}

/*Aplica a todos os nível subsequentes*/
div#div1 h1 {
	color: red;
}

/*Só aplica o estilo no proximo nível os demais não!!*/
#div2 > h1 {
	color: green;
}

.div1 h1 {
	text-shadow: 2px 2px 2px green;
}

.div2 > h1 {
	text-shadow: 2px 2px 2px red;
}