@import url('https://fonts.googleapis.com/css?family=Kotta+One&display=swap');

/* "*" todos os elementos existentes no documento */
* {
	font-family: 'Kotta One', serif;
	/* "resetando" o documento */
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

ul.lista {
	list-style-position: inside;
	list-style-type: square;
}

.lista li, .lista2 li {
	font-size: 18px;
	color: #4b4b4b;
	margin-top: 10px;
	margin-left: 10px;
}

.lista .item-3 {
	color: red;
}

ol.lista2 {
	list-style-position: inside;
}

ol.lista2 > li {
	color: red;
}