<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <title>Clientes | Cadastro</title>
  <link rel="stylesheet" type="text/css" href="/style.css" />
</head>
<body>
  <section>
    <h2>Cadastrar Cliente</h2>
    <form method="post">
      <label for="name">Nome: </label>
      <input type="text" name="name" id="name" />
      <br />
      <label for="lastName">Sobrenome: </label>
      <input type="text" name="lastName" id="lastName" />
      <br />
      <label for="company">Empresa: </label>
      <input type="text" name="company" id="company" />
      <br />
      <input type="submit" value="Cadastrar!">
    </form>
    <a href="/">Lista de Clientes</a>
  </section>
</body>
</html>